.is-collapsible{
height:0;
overflow-y:hidden;
}
.is-collapsible.is-active{
	height:auto;
}

.js-modal-trigger,
.theme-option {cursor: pointer;}

#queueIsClean {
	background-image: url(kitteh.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	height: 600px;
	}
#AutoModerator-active {display: none}

.usernote-row {margin-bottom: 0.5rem}

a,p {overflow-wrap: anywhere}

.resizeable {
	max-width: unset
}

.navbar-menu {
    background-color: unset;
}

nav.navbar.is-white {
	box-shadow: 0 0px 6px rgba(0,0,0,0.16), 0 0px 6px rgba(0,0,0,0.23);
	position: sticky;
	top: 0
}

html {
	scroll-padding-top: 4.5rem;
}

html, body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-size: 16px;
	line-height: 1.5;
	height: auto;
	background: #ECF0F3;
}
nav.navbar {
	border-top: 3px solid #FF5700;
	margin-bottom: 1rem;
}
.navbar-item.brand-text {
	font-weight: 300;
}
.navbar-item, .navbar-link {
	font-size: 14px;
	font-weight: 700;
}
.columns {
	width: 100%;
	height: 100%;
	margin-left: 0;
}
.menu-label {
	color: #8F99A3;
	letter-spacing: 1.3;
	font-weight: 700;
}
.menu-list a {
	color: #0F1D38;
	font-size: 14px;
	font-weight: 700;
}
.menu-list a:hover {
	background-color: transparent;
	color: #276cda;
}
.menu-list a.is-active {
	background-color: transparent;
	color: #276cda;
	font-weight: 700;
}
.card {
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
	margin-bottom: 2rem;
}
.card-header-title {
	color: #8F99A3;
	font-weight: 400;
}
.info-tiles {
	margin: 1rem 0;
}
.info-tiles .subtitle {
	font-weight: 300;
	color: #8F99A3;
}
.hero.welcome.is-info {
	background: #36D1DC;
	background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);
	background: linear-gradient(to right, #5B86E5, #36D1DC);
}
.hero.welcome .title, .hero.welcome .subtitle {
	color: hsl(192, 17%, 99%);
}
.card .content {
	font-size: 14px;
}
.card-footer-item {
	font-size: 14px;
	font-weight: 700;
	color: #8F99A3;
}

.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 5rem;
}

.is-orangered {
	color: 000;
	background-color: #FF5700;
	z-index: 1
}

.badge {box-shadow: unset}

#DIYRuleTextarea {
	width: 100%;
	resize: vertical;
}

.navbar-item div {
	cursor: pointer;
}


/*This is a bad idea*/
pre { overflow-x: unset !important}
pre code {white-space: pre-wrap;}